@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Deca", sans-serif;
}

.main-container {
    max-width: 1024px;
    padding: 10px 20px;
}

.skill-chip {
    border-radius: 5px;
    margin-right: 5px;
    background-color: #ced4da;
    color: black;
    font-size: 15px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.custom-close-btn {
    cursor: pointer;
}